
<app-header></app-header>
<h1>{{titulo}}</h1> <!-- TAG titulo universal-->

<!-- criar um header dentro de app(html)-->
<!-- lado esquerdo - logo-->
<!-- lado direito - 2 botões (tag a)-->
<!-- cadastrar produto-->
<!-- pagina de inicio-->
<!-- pasta assest pode receber imagens-->

<!-- Pegando o Componente -->




<h3>Ronaldo Adames</h3>
<br>
<span>Este é meu primeiro projeto utilizando Angular!</span>
<br>
<button (click)="funcao()">Click</button>


<!-- versão antiga = onclick=""-->
<!-- versão nova = (click)=""-->
<!---Typescript auxiliar para previner  erros-->
